<ul class="side-nav fixed side-nav-channel" id="side-bar-channel">
  <li>
    <div>
      <span class="team_title"><%= @team.slug %></span>
      <% if can? :destroy, @team %>
        <a href="#" class="right team_icon remove_team">
          <i class="material-icons" id="<%= @team.id %>">settings</i>
        </a>
      <% end %>
    </div>
  </li>
  <li>
    <div class="divider"></div>
  </li>
</ul>
<div class="fixed-action-btn horizontal hide-on-med-and-up">
  <a href="#" data-activates="side-bar-channel" class="button-collapse btn-floating btn-large waves-effetc waves-light grey bottom">
    <i class="material-icons">menu</i>
  </a>
</div>
